<h1>About</h1>
<p>
	This is the Page of Verein FREIRÄUME, organizer of
	<p>
		<%= link_to "Internationale Sommerakademie für Theater Graz", "http://theaterakademie-graz.org" %>
	</p>
	<p>
		<%= link_to "Cirkusschule für Kinder", "http://kindercirkusschule.org" %>
	</p>
	and
	<p>
		<%= link_to "Pacha Mama", "http://www.pachamama.edu.ec/" %>
	</p>
</p>
