<div class="center hero-unit">	
	<h1>Cirkusschule für Kinder</h1>
	<p>
		Graz
	</p>
	<p>
		Founded an raised by Thomas Svoboda long time ago.
		Find more information on the project´s <%= link_to "homepage", "http://kindercirkusschule.org" %>
	</p>
</div>