<div class="center hero-unit">	
	<h1>Welcome to our project page!!</h1>
	<p>
		Verein FREIRÄUME is a benevolent association with projects in Austria and Ecuador.
	</p>
	<p>
		Founded in 1995 and since then run by Wolfgang and Veronique Gorris as a project of the ecuadorian sister association "Espacios Libres".
		Find more information on the project´s <%= link_to "homepage", "http://www.pachamama.edu.ec/" %>
	</p>
</div>