<div class="center hero-unit">	
	<h1>Welcome to our project page!!</h1>
	<p>
		Verein FREIRÄUME is a benevolent association with projects in Austria and Ecuador.
	</p>
	<p>
		Raised and organized by Thomas Svoboda since 1987. Since 2007 run as an organization comitee by Thomas Svoboda, Doris Liebl and Gregor Kleczkowski.
		Find more information on the project´s <%= link_to "homepage", "http://theaterakademie-graz.org" %>
	</p>
</div>