<div class="center hero-unit">	
	<h1>Internationale Sommerakademie für Theater Graz!!</h1>
	<p>
		Graz, Austria
	</p>
	<p>
		Raised and organized by Thomas Svoboda since 1987. Since 2007 run as an organization comitee by Thomas Svoboda, Doris Liebl and Gregor Kleczkowski.
		Find more information on the project´s <%= link_to "homepage", "http://theaterakademie-graz.org" %>
	</p>
</div>