<div class="footer">
		<small>
			 <%= link_to "Internationale Sommerakademie für Theater Graz", "http://theaterakademie-graz.org" %>, <%= link_to "Cirkusschule für Kinder", "http://kindercirkusschule.org" %> and <%= link_to "Colegio PACHA MAMA", "http://www.pachamama.edu.ec/" %> are organized by "Verein FREIRÄUME". All rights reserved.
		</small>
</div>